body 
{
    background-image: url(https://i.pinimg.com/736x/82/88/1d/82881d07a03758e4a1953e310d663b50.jpg);   
}

#header{
    margin: 30px;
    size: 100%;
    background-color: black;
    border: 3px solid #f30085;
    display: grid;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    margin: 30px;
    font-size: 60px;
    grid-column: 2;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    margin: 30px;
    font-size: 60px;
    grid-column: 2;
}

a{
    color: #ffffff;
}

p{
    color: #ffffff;
    margin: 30px;
    font-size: 30px;
}



#container1{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
    border: 3px solid #f30085;
}


#img1
{
    border-radius: 10%;
    width: 300px;
    height: 300px;
    margin: 30px;
    border: 3px solid #f30085;
    float: left;
    grid-column: 1;
}

.banner{
    border: 3px solid #f30085;
    margin: 30px;
    size: 100%;
}

#img2{
    width: 100%;
}

.genButton{
    margin-left: 30px;
    grid-column: 1;
    font-size: 20px;
    margin-bottom: 30px;
    width: 83%;
    height: 8%;
    background-color: #f30085;
    border: 3px solid #f30085;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* about me */

