body
{
    background-color: black;
    background-image: url("https://i.pinimg.com/736x/58/30/13/58301359715f994db16bed3ce2dfb108.jpg");
}

.content
{
    background-color: blue;
    border-radius: 1%;
    border: 2px solid powderblue;
    margin: 30px;
}

p, h1, h3
{
    color: white;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
}


.car
{
    height: 400px;
    width:400px;
    border-radius: 10%;
    margin: 30px;
    border: 2px solid powderblue;
}

.webp
{
    height: 600px;
    width: 750px;
}

a
{
 color: rgb(255, 0, 0);
}
